@charset "UTF-8";

body{
    background-color:#000;
    margin: 0;
    padding: 0;
    color: #ffffff;

}

header{
    border-bottom: #99ff99 solid 5px;
}
.logo h1{ font-size:50px;

}

.logo h1 a{
    text-decoration:none;
    color:#FFF;
    padding-left:50px;
    text-shadow: 0 0 0.2em #8f7;
}

.nav form{
    width: 430px;
    height: 20px;
    margin-left: 832px;
    margin-top: 5px;
    
}
.nav form label{
    text-shadow: 0 0 0.2em #8f7;
    color:#FFF;
    font:16px Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav ul form a{
    text-shadow: 0 0 0.2em #8f7;
    color:#FFF;
    font:16px Arial, Helvetica, sans-serif;
    text-decoration: none;
    
    
}
.nav{
    width:960px;
    margin:180px;
    float:right;
    border-radius: 5px;
    background:#000;
    margin-top: -70px;
    margin-bottom:50px;
    margin-right:180px;

}
.nav ul{
    margin:0;
    padding:0;
    margin-left:-200px;
    list-style:none;
    width:100%;
    float:left;
}
.nav ul li{
    float:left;
    font:16px Arial, Helvetica, sans-serif;
}
.nav ul li a{
    color:#FFF;
    text-decoration:none;
    padding:5px;
    margin-left:100px;
    display:block;
    text-shadow: 0 0 0.2em #8f7;
}

.nav ul li:hover a{
    background:#000;
    color:#127;
    clear: both;
    text-shadow: 0 0 0.2em #8f7;
}

#busca_contato{
    background-image:url("../Images/background1.jpg");
    background-attachment: initial;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1600px 600px;
    border-bottom: solid #000000 10px;
    margin-bottom: 0px;
    
}
#mensagem{
    margin-top: 0px;
    padding: 50px 0px;
    text-align: center;
    width: 100%;
    height: 300px;
    color: #000000;
    font-size: 20px;
    font-family: verdana;
}

.flutuaEsq{
    float: left;
}

#busca{
    text-align: center;
    width: 100%;
    height: 200px;
}
#busca #campo{
    margin-bottom: 10px;
    height: 40px;
    width: 60%;
}


#busca input{
    padding: 10px 10px;

}
#busca p{
    margin: 0px 0px;
}

#contato{
    color: #ffffff;
    width: 600px;
    margin-left: 500px;
    height: 30px;
    text-align: left;
    margin-bottom: 0xp;
}

#contato p{
    float: left;
}
#contato a{
    color:#ffffff;
    margin: 0px 0px;
}

#contato a:hover{
    color: #cccccc;
    
}
#contato img{
    margin: 0px 5px;
    width: 15px;
    height: 15px;
}


#banners{
    width: 100%;
    height: 700px;
    background-color: beige;
    margin-top: 0px;
    text-align: center;
    padding-top: 10px;
    text-align: center;
    margin-bottom: -20px;
    
}

#banners h1{
    font-size: 32px;
    font-family: verdana;
    color: #000000;
}
#banners img{
    float: left;
    margin: 10px 60px;
    margin-bottom: 40px;
}

#banners p{
    color: #000000;
    clear: both;
    font-family: verdana;
    font-size: 20px;
}

#first{
    margin: 20px 290px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}



#footer{
    width: 1432px;
    height: 70px;
    background-color: #000000;
    float: left;
    margin:20px 0px 0px 0px;
    border-top: #ff99ff solid 5px;
}
#footer nav{
    padding: 25px 5px 0px 5px;
    margin: 0px 0px 0px 30px;
}
#footer li{
    list-style: none;
    display: inline;
    margin: 30px 20px 0px 80px;
}

#footer p{
    float: left;
    margin: 40px 10px 0px 10px;
    color:#ffffff;
}
#footer li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    margin: 0px 20px 0px 30px;
}